<div class="card spaced-card">
  <div class="image transparent-background">
    <img src="../../../assets/img/firefox_logo.png" alt="firefox">
  </div>
  <div class="content">
    <a href="#">
      <div class="ui header product-title">Firefox</div>
    </a>
    <div class="description">
      Your web, the way you like it.
    </div>
  </div>
  <div class="extra content">
    <div class="ui button right floated secondary-button">
      Add to cart
    </div>
    <div>
      ₪777.00
    </div>
    <div class="ui yellow disabled rating" data-rating="3" data-max-rating="5"></div>
  </div>
</div>
