<div class="ui cards">
  <div class="card spaced-card">
    <div class="image transparent-background">
      <img src="../../../assets/img/firefox_logo.png" alt="firefox">
    </div>
    <div class="content">
      <a href="#">
        <div class="ui header product-title">Firefox</div>
      </a>
      <div class="description">
        Your web, the way you like it.
      </div>
    </div>
    <div class="extra content">
      <div class="ui button right floated secondary-button">
        Add to cart
      </div>
      <div>
        ₪777.00
      </div>
      <div class="ui yellow disabled rating" data-rating="3" data-max-rating="5"></div>
    </div>
  </div>
  <div class="card spaced-card">
    <div class="image transparent-background">
      <img src="../img/asus_logo.png" alt="asus">
    </div>
    <div class="content">
      <a href="#">
        <div class="ui header product-title">Asus</div>
      </a>
      <div class="description">
        In Search of Incredible.
      </div>
    </div>
    <div class="extra content">
      <div class="ui button right floated secondary-button">
        Add to cart
      </div>
      <div>
        ₪1500.00
      </div>
      <div class="ui yellow disabled rating " data-rating="3" data-max-rating="5"></div>
    </div>
  </div>
  <div class="card spaced-card">
    <div class="image transparent-background">
      <img src="../img/ferrari_logo.png" alt="ferrari">
    </div>
    <div class="content">
      <a href="#">
        <div class="ui header product-title">Ferrari</div>
      </a>
      <div class="description">
        We are the competition. You are the fuel.
      </div>
    </div>
    <div class="extra content">
      <div class="ui button right floated secondary-button">
        Add to cart
      </div>
      <div>
        ₪1,000,000.00
      </div>
      <div class="ui yellow disabled rating" data-rating="3" data-max-rating="5"></div>
    </div>
  </div>
  <div class="card spaced-card">
    <div class="image transparent-background">
      <img src="../img/intel_logo.png" alt="intel">
    </div>
    <div class="content">
      <a href="#">
        <div class="ui header product-title">Intel</div>
      </a>
      <div class="description">
        Look inside.
      </div>
    </div>
    <div class="extra content">
      <div class="ui button right floated secondary-button">
        Add to cart
      </div>
      <div>
        ₪1,999.00
      </div>
      <div class="ui yellow disabled rating" data-rating="3" data-max-rating="5"></div>
    </div>
  </div>
  <div class="card spaced-card">
    <div class="image transparent-background">
      <img src="../img/eilat_logo.png" alt="eilat">
    </div>
    <div class="content">
      <a href="#">
        <div class="ui header product-title">Eilat</div>
      </a>
      <div class="description">
        Live right.
      </div>
    </div>
    <div class="extra content">
      <div class="ui button right floated secondary-button">
        Add to cart
      </div>
      <div>
        ₪999,999,999.00
      </div>
      <div class="ui yellow disabled rating" data-rating="3" data-max-rating="5"></div>
    </div>
  </div>
  <div class="card spaced-card">
    <div class="image transparent-background">
      <img src="../img/cisco_logo.png" alt="firefox">
    </div>
    <div class="content">
      <a href="#">
        <div class="ui header product-title">Cisco</div>
      </a>
      <div class="description">
        Welcome to the Human Network.
      </div>
    </div>
    <div class="extra content">
      <div class="ui button right floated secondary-button">
        Add to cart
      </div>
      <div>
        ₪2,500.00
      </div>
      <div class="ui yellow disabled rating" data-rating="3" data-max-rating="5"></div>
    </div>
  </div>
</div>
