<div class="ui three column relaxed stackable grid header primary-background">
  <div class="ui two wide column center aligned middle aligned">
    <a href="index.html">
      <img class="ui small image center aligned middle aligned" src="../../assets/img/logo.png" alt="amazon logo">
    </a>
  </div>
  <div class="ui eleven wide column row action input center aligned middle aligned">
    <input type="text" placeholder="Search...">
    <div class="ui icon button secondary-button">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="ui three wide column center aligned middle aligned">
    <div class="ui icon button nav-button accounts-popup">
      Account&Lists
      <i class="down caret icon"></i>
    </div>
    <div class="ui fluid popup bottom left transition hidden">
      <div class="ui two column relaxed divided grid">
        <div class="column">
          <div class="ui header">Your Account</div>
          <div class="ui link list">
            <a class="item">Sign in</a>
            <a class="item">Sign up</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Your Lists</div>
          <div class="ui link list">
            <a class="item">Create new list</a>
          </div>
        </div>
      </div>
    </div>
    <a href="cart.html">
      <div class="ui icon button nav-button">
        <i class="cart icon"></i>
        Cart
      </div>
    </a>
  </div>
</div>
